@font-face {
    font-family: "Roboto";
    src: url("../font/Roboto/Roboto-Regular.ttf") format("truetype");
}

:root {
    --main-color : #3D00B7;
    --breakpoint-mobile : 870px;
    font-family: "Roboto";
}

button {
  padding: 10px 20px;
  background-color: #a33937;
  color: white;
  border-radius: 40px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: black;
  color: white;
}

.red {
    padding: 10px 20px;
    background-color: white;
    color: #a33937;
    border-radius: 40px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.red:hover {
    background-color: black;
    color: white;
}

a {
    color: rgb(40, 40, 40);
    font-weight: bold;
    text-decoration: none;
}







/* ------ */

.br-m {
    border-radius: 5px;
}

.br-l {
    border-radius: 15px;
}

.br-xl {
    border-radius: 40px;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
